body{
  font-family: 'Open Sans', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
header{
  background: #FFF; 
}
.gamer{  
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
padding-top: 38px;
}

nav img{
  width: 86.041px;
height: 40px;
padding-top: 44px;
padding-left: 240px;
}
nav{
  display: flex;
  justify-content: space-between;  
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);  
}
.nav-logo{
  display: flex;
  gap: 20px;
}
nav span{
  color: #ff42a5;
}
nav >ul{
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
  padding-right: 240px;   
}
nav li{
list-style: none;
 margin-right: 30px; 
font-family: Work Sans;
 font-size: 18px; 
 font-weight: 500;  
}
nav li a{
  text-decoration: none;
  color: #3C354F;
  
}
.follow{
  text-align: center;
  border-radius: 8px;  
 padding-top: 20px;
background: rgba(11, 2, 35, 0.10);
width: 250px;
height: 56px;
position: relative;
bottom: 20px;

}
.goat{
  display: flex;
}
.play{
  color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
}
.b-goat{
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.ip{
  color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
}
.capsule-shape{  
  padding: 20px 40px;
  border-radius: 48px;      
   background-color: #ff42a5;
   font-size: 20px;
   color: #FFF;
   border: none;
   margin-right: 10px;
   margin-top: 40px;
}
.rep{
  background-color: #4EC5F7;
}
.written-container{
  padding-left: 240px;
  padding-top: 148px;
  background-image: url('./B8A2-Gamer-Zone/images/Group\ 14.png');
  background-size: auto;
  margin-right: 70px;
}
.header-img{
  padding-right: 240px;
  padding-left: 80px;
  padding-top: 20px;
}
.we-are-gamer{
  display: flex;
  margin-top: 52px;
}
.grad{
  text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 240px;
}
.digital{
  color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 24px; 
}
.mickey-mouse{
  width: 100%;
height: 489px;
margin-right: 52px;
}
.ag{
  margin-left: 404px;
  margin-top: 32px;
}
.purpose{
  color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 45px; 
}
.unleash{
  color: #534C64;
  text-align: right;
font-family: Work Sans;
font-size: 32px;
font-weight: 700;
line-height: 45px;

}
.vortex{
  width: 342px;
height: 400px;
margin-right: 10px;
padding-left: 55px;
}
.funny{
  color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;}
.funny-video{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.Hilarious{
  color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;

font-weight: 400;
line-height: 30px; 
margin-top: 10px;
margin-bottom: 48px;
}
.multi-image{
  display: flex;
}
.sp-hover{
  padding-left: 55px;
  color: #534C64;
font-family: Work Sans;
font-size: 20px;

font-weight: 500;
line-height: 30px; 
margin-top: 14px;
}
.main-part{
  display: flex;
  margin-top: 120px;
}
.main-part img{
  margin-left: 50px;
}
.absolute{
  margin: 0;
  position: relative;
  bottom: 100px;
  padding-left: 520px;

}
.pl{
  color:rgb(247, 95, 214) ;
}
.on{
  color: rgb(230, 11, 230);
}
.Anytime{
  
font-size: 48px;
padding-left: 100px;
font-weight: 700;
line-height: 60px; 
padding-top: 380px;
}
.pc{
  color: #534C64;
 
  font-family: Work Sans;
font-size: 18px;
margin-top: 24px;
font-weight: 400;
line-height: 30px; 
padding-left: 100px;
}

.mini-games{
  display: flex;
  justify-content: center;
  align-items: center;
}
.arcade-games{
  border-radius: 50px;
background: #FFF;
padding: 12px;
display: flex;
align-items: center;
justify-content: center;
margin-right: 27px;
padding-right: 20px;
 
}
.arcade-games img{
  margin-right: 16px;
}
.arcade-games p{
  color: #0B0223;
font-family: Work Sans;
font-size: 20px;

font-weight: 600;

}
.koshto{
  width: 100%;
height: 427px;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

    

